# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
venv/
ENV/
env/
.dist/
build/
dist/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
